In [2]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', 100)  
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [6]:
#uploading the dataset
df= pd.read_csv('HR data.csv')

In [8]:
#printing the data
df

,Age,Attrition,BusinessTravel,DailyRate,Department,...,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,...,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,...,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,...,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,...,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,...,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,...,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,...,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,...,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,...,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,...,4,4,3,1,2

In [10]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [11]:
df.describe

<bound method NDFrame.describe of       Age Attrition     BusinessTravel  DailyRate              Department  ...  WorkLifeBalance  \
0      41       Yes      Travel_Rarely       1102                   Sales  ...                1
1      49        No  Travel_Frequently        279  Research & Development  ...                3
2      37       Yes      Travel_Rarely       1373  Research & Development  ...                3
3      33        No  Travel_Frequently       1392  Research & Development  ...                3
4      27        No      Travel_Rarely        591  Research & Development  ...                3
...   ...       ...                ...        ...                     ...  ...              ...
1465   36        No  Travel_Frequently        884  Research & Development  ...                3
1466   39        No      Travel_Rarely        613  Research & Development  ...                3
1467   27        No      Travel_Rarely        155  Research & Development  ...                3
1468   49        No  Travel_Frequently       1023                   Sales  ...                2
1469   34        No      Travel_Rarely        628  Research & Development  ...                4

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  6                  4                        0                     5
1                 10                  7                        1                     7
2                  0                  0                        0                     0
3                  8                  7                        3                     0
4                  2                  2                        2                     2
...              ...                ...                      ...                   ...
1465               5                  2                        0                     3
1466               7                  7                        1                     7
1467               6                  2                        0                     3
1468               9                  6                        0                     8
1469               4                  3                        1                     2

[1470 rows x 35 columns]>

In [13]:
#removing unnecessary columns.
columns_to_remove = ["EmployeeCount", "WorkLifeBalance", "StandardHours","EnvironmentSatisfaction","Over18","PercentSalaryHike","StockOptionLevel"]
df = df.drop(columns_to_remove, axis=1)

In [14]:
df.shape

(1470, 28)

In [25]:
#Giving the columns new names
new_column_names = {
    "Age": "Employee Age",
    "Attrition": "Employee Turnover",  
    "BusinessTravel": "Business Trip Frequency",
    "DailyRate": "Daily Pay Rate",
    "Department": "Employee Department",
    "DistanceFromHome": "Distance from Workplace", 
    "Education": "Education Level",
    "EducationField": "Field of Study",
    "EmployeeNumber": "Employee ID",  
    "Salary": "Employee Salary",
    "Gender": "Employee Gender",
    "JobRole" : "Job Role"
}
df = df.rename(columns=new_column_names)
df.columns

Index(['Employee Age', 'Employee Turnover', 'Business Trip Frequency', 'Daily Pay Rate',
       'Distance from Workplace', 'Education Level', 'Field of Study', 'Employee ID',
       'Employee Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime', 'PerformanceRating',
       'RelationshipSatisfaction', 'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'Employee Department_Human Resources',
       'Employee Department_Research & Development', 'Employee Department_Sales',
       'MaritalStatus_Divorced', 'MaritalStatus_Married', 'MaritalStatus_Single'],
      dtype='object')

In [16]:
#finding duplicates
duplicate = df[df.duplicated()]

# Print the duplicate rows
if len(duplicate) > 0:
    print("There are duplicate rows in the data")
    print(duplicates.head())
else:
    print("No duplicate rows found")

No duplicate rows found

Employee Age                                     0
Employee Turnover                             1470
Business Trip Frequency                          0
Daily Pay Rate                                   0
Distance from Workplace                          0
Education Level                                  0
Field of Study                                   0
Employee ID                                      0
Employee Gender                               1470
HourlyRate                                       0
JobInvolvement                                   0
JobLevel                                         0
JobSatisfaction                                  0
MonthlyIncome                                    0
MonthlyRate                                      0
NumCompaniesWorked                               0
OverTime                                         0
PerformanceRating                                0
RelationshipSatisfaction                         0
TotalWorkingYears                                0
TrainingTimesLastYear                            0
YearsAtCompany                                   0
YearsInCurrentRole                               0
YearsSinceLastPromotion                          0
YearsWithCurrManager                             0
JobRole_Healthcare Representative                0
JobRole_Human Resources                          0
JobRole_Laboratory Technician                    0
JobRole_Manager                                  0
JobRole_Manufacturing Director                   0
JobRole_Research Director                        0
JobRole_Research Scientist                       0
JobRole_Sales Executive                          0
JobRole_Sales Representative                     0
Employee Department_Human Resources              0
Employee Department_Research & Development       0
Employee Department_Sales                        0
MaritalStatus_Divorced                           0
MaritalStatus_Married                            0
MaritalStatus_Single                             0
dtype: int64